<!-- Content -->
<main class="col-md-9 col-xs-11 p-l-2 p-t-2">
    <div class="page-header">
        <h2>WEB MAIN</h2>
    </div>
    <p class="lead">A responsive, multi-level vertical accordion.</p>
</main>