<!DOCTYPE html>
<html lang="kr">

<% if(name) {%>

<head>
    <% include ../includes/comm_head.ejs %>
</head>

<body>
    <div class="Wrapper">
        <% include ../layouts/header.ejs %>
        <div class="container-fluid" style="padding-top: 51px;">
            <div class="row">
                <% include ../layouts/sideBar.ejs %>

                <%- body %>

            </div>
        </div>
    </div>
    <% include ../layouts/footer.ejs %>
</body>
<% } else {%>

<head>
    <% include ../includes/login_head.ejs %>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%" align="center">
    <%- body %>

    <% include ../layouts/footer.ejs %>
</body>
<% } %>

</html>
