<div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
    <div class="list-group panel" style="border: 0px;">
        <a href="/" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span
                class="hidden-sm-down">&nbspHOME</span></a>

        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"
            aria-expanded="false"><i class="fa fa-list"></i> <span class="hidden-sm-down">&nbsp게시판</span> </a>
        <div class="collapse" id="menu1">
            <a href="/board" class="list-group-item" data-parent="#menu1">게시글 보기</a>
            <a href="/board/add" class="list-group-item" data-parent="#menu1">게시글 작성</a>
        </div>

        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"
            aria-expanded="false"><i class="fa fa-gear"></i> <span class="hidden-sm-down">&nbsp관리</span></a>
        <div class="collapse" id="menu3">
            <a href="#" class="list-group-item" data-parent="#menu3">&nbsp설정</a>
            <a href="#" class="list-group-item" data-parent="#menu3">&nbsp사용자관리</a>
        </div>
    </div>
</div>


<!-- dic            
    <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a><div class="collapse" id="menu1sub1">
        <a href="#" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
         <a href="#menu1sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 3 c </a>
            <div class="collapse" id="menu1sub1sub1">
                <a href="#" class="list-group-item" data-parent="#menu1sub1sub1">Subitem 3 c.1</a>
            </div>

    <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
            <div class="collapse" id="menu3sub2">
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
            </div>        
-->