<!DOCTYPE html>
<html lang="en">

<% include ../includes/comm_head.ejs %>

<body>
    <div class="Wrapper">
        <!-- Header bar -->
        <% include ../layouts/header.ejs %>
        <!-- Side bar -->
        <div class="container-fluid" style="padding-top: 51px;">
            <div class="row">
                <% include ../layouts/sideBar.ejs %>
                <!-- Content -->
                <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
                    <div class="page-header">
                        <h2>게시글 : <%= post.title %> </h2>
                    </div>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" id="title" name="editTitle" value="<%= post.title %>"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="writer">작성자</label>
                            <input type="text" id="writer" name="editWriter" value="<%= post.writer %>"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label for="body">내용</label>
                            <textarea type="text" id="body" name="editContent" rows="5" class="form-control" readonly><%= post.content %></textarea>
                        </div>
                        <hr>
                        <div>
                            <a class="btn btn-primary" href="/board" style="text-decoration: none">돌아가기</a>
                        </div>
                </main>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <% include ../layouts/footer.ejs %>
</body>

</html>