<!-- Content -->
<main class="col-md-9 col-xs-11 p-l-2 p-t-2">
    <div class="page-header">
        <h2>게시글 작성</h2>
    </div>
    <form action="/board" method="POST">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="inputTitle" placeholder="제목을 입력하세요." class="form-control" required
                autofocus>
        </div>
        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" id="writer" name="inputWriter" value="<%= name %>" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="body">내용</label>
            <textarea type="text" id="body" name="inputContent" rows="5" placeholder="내용을 입력하세요."
                class="form-control"></textarea>
        </div>
        <hr>
        <div>
            <input class="btn btn-primary" type="submit" value="저장하기" />
            <a class="btn btn-primary" href="/board" style="text-decoration: none">돌아가기</a>
        </div>
    </form>
</main>